h1{color: Black; font-family: Viner Hand ITC ;font-size: 50px; text-decoration: bold}
body{background-color: #08445B}
p{color: White; font-family: Rockwell Condensed; font-size: 16px}
a{color: White; font-family: Helevtica; font-size: 16px; text-decoration: italic;}
a:hover{color: #F95851}